{% if exists("groups") %}## Modules

<span class="api-table">

| Name           |
| -------------- |
{% for child in groups -%}
| **[{{child.title}}]({{child.url}})** {% if existsIn(child, "brief") %}<br>{{child.brief}}{% endif %} |
{%- endfor %}

</span>

{% endif -%}


{%- if exists("namespaces") %}## {% if language == "java" %}Packages{% else %}Namespaces{% endif %}

<span class="api-table">

| Name           |
| -------------- |
{% for child in namespaces -%}
| **[{{child.name}}]({{child.url}})** {% if existsIn(child, "brief") %}<br>{{child.brief}}{% endif %} |
{% endfor %}

</span>

{% endif -%}
{%- if exists("publicClasses") %}## Classes

<span class="api-table">

|                | Name           |
| -------------- | -------------- |
{% for child in publicClasses -%}
| {{child.kind}} | **[ <span class="codey">{{child.name}}</span> ]({{child.url}})** {% if existsIn(child, "brief") %}<br>{{child.brief}}{% endif %} |
{% endfor %}

</span>

{% endif -%}
{%- if exists("publicTypes") %}## Types

<span class="api-table">

|                | Name           |
| -------------- | -------------- |
{% for child in publicTypes -%}
| <span class="codey"> {% if existsIn(child, "templateParams") -%}
template <{% for param in child.templateParams -%}
{{param.typePlain}} {{param.name}}{% if existsIn(param, "defvalPlain") %} ={{param.defvalPlain}}{% endif -%}
{% if not loop.is_last %},{% endif -%}
{% endfor %}\> <br>{% endif -%}
{{child.kind}}{% if child.kind == "enum" and child.strong %} class{% endif %}{% if existsIn(child, "type") %} {{child.type}} {% endif -%}</span>| **[ <span class="codey"> {{child.name}}</span> ]({{child.url}})** {% if child.kind == "enum" %}{ {% for enumvalue in child.enumvalues -%}
`{{enumvalue.name}}`{% if existsIn(enumvalue, "initializer") %} `{{enumvalue.initializer}}`{% endif -%}
{% if not loop.is_last %}, {% endif %}{% endfor -%}
 }{% endif -%}
{% if existsIn(child, "brief") %}<br>{{child.brief}}{% endif %} |
{% endfor %}

</span>

{% endif -%}
{%- if exists("publicFunctions") %}## Functions

<span class="api-table">

|                | Name           |
| -------------- | -------------- |
{% for child in publicFunctions -%}
| <span class="codey"> {% if existsIn(child, "templateParams") -%}
template <{% for param in child.templateParams -%}
{{param.typePlain}} {{param.name}}{% if existsIn(param, "defvalPlain") %} ={{param.defvalPlain}}{% endif -%}
{% if not loop.is_last %},{% endif -%}
{% endfor %}\> <br>{% endif -%}
{% if child.virtual %}virtual {% endif -%}
{% if existsIn(child, "type") %}{{child.type}} {% endif -%}
</span> | <span class="codey">**[{{child.name}}]({{child.url}})**({% for param in child.params -%}
{{param.type}} {{param.name}}{% if existsIn(param, "defval") %} ={{param.defval}}{% endif -%}
{% if not loop.is_last %}, {% endif -%}
{% endfor %}){% if child.const %} const{% endif -%}
{% if child.override %} override{% endif -%}
{% if child.default %} = default{% endif -%}
{% if child.deleted %} = delete{% endif -%}
{% if child.pureVirtual %} = 0{% endif -%}
 </span>{% if existsIn(child, "brief") %}<br>{{child.brief}}{% endif %} |
{% endfor %}

</span>

{% endif -%}
{%- if exists("publicAttributes") %}## Attributes

<span class="api-table">

|                | Name           |
| -------------- | -------------- |
{% for child in publicAttributes -%}
| <span class="codey">{% if existsIn(child, "type") %}{{child.type}} {% endif -%}
</span>| **[<span class="codey">{{child.name}}</span>]({{child.url}})** {% if existsIn(child, "brief") %}<br>{{child.brief}}{% endif %} |
{% endfor %}
{% endif -%}
{%- if exists("defines") %}## Defines

<span class="api-table">

|                | Name           |
| -------------- | -------------- |
{% for child in defines -%}
| {% if existsIn(child, "type") %}{{child.type}}{% endif %} | **[{{child.name}}]({{child.url}})**{% if existsIn(child, "params") %}({% for param in child.params %}{{param.name}}{% if existsIn(param, "defval") %} ={{param.defval}}{% endif %}{% if not loop.is_last %}, {% endif %}{% endfor %}){% endif %} {% if existsIn(child, "brief") %}<br>{{child.brief}}{% endif %} |
{% endfor %}

</span>

{% endif -%}
